<div class="all-page">
  <div class="img-top"></div>
  
  <div>
    <h1>10 livros para se torna um milionário</h1>
  </div>

  <div class="list-book">
    <h2>
      Pai Rico, Pai Pobre - 
      Edição de 20 anos atualizada e ampliada: <br> 
      O que os ricos ensinam a seus filhos sobre dinheiro
    </h2>
    <h4>Link para comprar na Amazon: <a href="https://amzn.to/3Xgo2sL">https://amzn.to/3Xgo2sL</a></h4>

    <img src="https://m.media-amazon.com/images/I/81KY9mmrF-L.jpg" alt="" width="300px">
    <img src="https://m.media-amazon.com/images/I/81wuNdgJW1L.jpg" alt="" width="300px">
  </div>

  <div class="list-book list-right">
    <h2>
      Do Mil ao Milhão. Sem Cortar o Cafezinho
    </h2>
    <h4>Link para comprar na Amazon: <a href="https://amzn.to/3X9RrF6">https://amzn.to/3X9RrF6</a></h4>

    <img src="https://m.media-amazon.com/images/I/81r5VTxaBiL.jpg" alt="" width="300px">
    <img src="https://m.media-amazon.com/images/I/71CDgfe5JZL.jpg" alt="" width="300px">
  </div>

  <div class="list-book">
    <h2>
      Os segredos da mente milionária: Aprenda a enriquecer mudando <br> seus conceitos sobre o dinheiro e adotando 
      os hábitos das pessoas bem-sucedidas
    </h2>
    <h4>Link para comprar na Amazon: <a href="https://amzn.to/3JjIN0O">https://amzn.to/3JjIN0O</a></h4>

    <img src="https://m.media-amazon.com/images/I/81ZnJcgjCdL.jpg" alt="" width="300px" height="500px">
    <img src="https://m.media-amazon.com/images/I/714Kvk6DZZL.jpg" alt="" width="300px" height="500px">
  </div>

  <div class="list-book list-right">
    <h2>
      Quem pensa enriquece - o legado: O legado
    </h2>
    <h4>Link para comprar na Amazon: <a href="https://amzn.to/3NfGkFW">https://amzn.to/3NfGkFW</a></h4>

    <img src="https://m.media-amazon.com/images/I/61x4XUF8zvL.jpg" alt="" width="300px" height="500px">
    <img src="https://m.media-amazon.com/images/I/71GhwTOtBiL.jpg" alt="" width="300px" height="500px">
  </div>

  <div class="list-book">
    <h2>
      Mais esperto que o Diabo: O mistério revelado da liberdade e do sucesso
    </h2>
    <h4>Link para comprar na Amazon: <a href="https://amzn.to/3N4TYvq">https://amzn.to/3N4TYvq</a></h4>

    <img src="https://m.media-amazon.com/images/I/819ERrDHRcL.jpg" alt="" width="300px" height="500px">
    <img src="https://m.media-amazon.com/images/I/718t5nlB-cL.jpg" alt="" width="300px" height="500px">
  </div>

  <div class="list-book list-right">
    <h2>
      A psicologia financeira: lições atemporais sobre fortuna, <br>ganância e felicidade
    </h2>
    <h4>Link para comprar na Amazon: <a href="https://amzn.to/46bXsoI">https://amzn.to/46bXsoI</a></h4>

    <img src="https://m.media-amazon.com/images/I/81ehvI03NYS.jpg" alt="" width="300px" height="500px">
    <img src="https://m.media-amazon.com/images/I/51cFufojv6L.jpg" alt="" width="300px" height="500px">
  </div>

  <div class="list-book">
    <h2>
      O homem mais rico da Babilônia
    </h2>
    <h4>Link para comprar na Amazon: <a href="https://amzn.to/3qJFrOl">https://amzn.to/3qJFrOl</a></h4>

    <img src="https://m.media-amazon.com/images/I/81HKcvLn15L.jpg" alt="" width="300px" height="500px">
    <img src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/fcc17258-c687-47cf-830d-297049fad4e9.__CR0,0,800,800_PT0_SX300_V1___.jpg" alt="" width="300px" height="500px">
  </div>

  <div class="list-book list-right">
    <h2>
      A lei da atração
    </h2>
    <h4>Link para comprar na Amazon: <a href="https://amzn.to/465N69T">https://amzn.to/465N69T</a></h4>

    <img src="https://m.media-amazon.com/images/I/71aphXwg+bL.jpg" alt="" width="300px" height="500px">
    <img src="https://m.media-amazon.com/images/I/71EL0f7fUcL.jpg" alt="" width="300px" height="500px">
  </div>

  <div class="list-book">
    <h2>
      O investidor inteligente
    </h2>
    <h4>Link para comprar na Amazon: <a href="https://amzn.to/3Pi8ym9">https://amzn.to/3Pi8ym9</a></h4>

    <img src="https://m.media-amazon.com/images/I/71XhGdYgoTL.jpg" alt="" width="300px" height="500px">
    <img src="https://m.media-amazon.com/images/I/81DI4-OdPZL.jpg" alt="" width="300px" height="500px">
  </div>

  <div class="list-book list-right">
    <h2>
      Os Códigos do Milhão - Pablo Marçal
    </h2>
    <h4>Link para comprar na Amazon: <a href="https://amzn.to/42FXlPv">https://amzn.to/42FXlPv</a></h4>

    <img src="https://m.media-amazon.com/images/I/51WIWmfMrwL.jpg" alt="" width="300px" height="500px">
    <img src="https://m.media-amazon.com/images/I/51Q3z1tpNSL.jpg" alt="" width="300px" height="500px">
  </div>

  <div class="img-bottom">
    <div class="footer">
      <p> © Copyright, Mylena Amorim</p>
    </div>
  </div>
</div>
